body {
  background-color: rgb(252, 202, 183);
  width: 900px;
  margin: auto;
  font-family:Arial, Helvetica, sans-serif
}

.container {
  border: 5px solid white;
  border-radius: 140px 0 140px 0;
  padding: 20px 50px 100px 40px;
  margin: 70px 20px 10px 20px;
  background-color: lightpink;
  box-shadow: 10px 10px;
  filter: drop-shadow(20px 40px 57px purple);
}

header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

h1 {
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 70px 0 20px 10px;
  font-family: 'Manjari', sans-serif;  
  font-weight: 300;
  color: black;
}

.current-player {
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgb(32, 109, 193);
  font-size: 25px;
  font-weight: 500;
  border-bottom: 1px solid rgb(32, 109, 193);
  font-family: 'Manjari', sans-serif;  
  font-weight: 700;
}

.current-move {
  color: red;
}

.game-status {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-bottom: 20px
}

#game-grid {
  display: grid;
  grid: 1fr / auto auto auto;
  gap: 40px;
  justify-content: center;
  align-content: center;
}


#game-grid div {
  display: grid;
  width: 130px;
  height: 130px;
  border-radius: 20px;
  background-color: white;
}

.operators {
  display: flex;  
  gap: 50px;
  justify-content: center;
  margin: 20px;
}

.start-game button {
  padding: 15px 40px 15px 40px;
  border-radius: 15px;
  background-color: rgb(123, 189, 158);
  border: 1.5px solid white;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 14px;
  box-shadow: 7px 7px;
}

#new-game button {
  padding: 15px 40px 15px 40px;
  border-radius: 15px;
  background-color: rgba(244, 90, 55, 0.632);
  border: 1.5px solid white;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 14px;
  box-shadow: 7px 7px;
}

.box {
  display: flex;
  justify-content: left;
  align-items: center;
  box-shadow: 7px 7px;
}

.box 
.background-change {
  font-size: 20px;
  justify-content: center;
  color: red;
}

.to-play {
  display: flex;
  justify-content: center;

}

.players {
  margin-top: 20px;
  margin-right: 80px;
  display: grid;
}

.players button {
  justify-content: center;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 15px;
  background-color: lightyellow;
  border: none;
}

.modal-wrapper {
  position: fixed;
  top: -80px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  background-color: rgba(0,0,0,0.3);
  display: none;
}

.modal-wrapper .modal {
  margin: 400px auto;
  width: 700px;
  background-color: white;
  padding: 30px;
  text-align: center;
  position: relative;
  border-radius: 40px 0 40px 0;
  box-shadow: 10px 10px;
}

.modal-wrapper .modal .close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.visible {
  display: block;
}