body {
  background-color: rgb(252, 202, 183);
  width: 900px;
  margin: auto;
  font-family:Arial, Helvetica, sans-serif
}

.container {
  border: 5px solid white;
  border-radius: 80px;
  padding: 20px 50px 50px 40px;
  margin: 20px;
  background-color: lightpink;
  box-shadow: 10px 10px;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

h1 {
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: .06em;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: rgb(238, 87, 31);
}

.current-player {
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgb(32, 109, 193);
  font-size: 22px;
  font-weight: 500;
  border-bottom: 1px solid rgb(32, 109, 193);;
}

.current-move {
  color: red;
}

.game-status {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-bottom: 20px
}

#game-grid {
  display: grid;
  grid: 1fr / auto auto auto;
  gap: 40px;
  justify-content: center;
  align-content: center;
}


#game-grid div {
  display: grid;
  width: 130px;
  height: 130px;
  border-radius: 20px;
  background-color: white;
}

.operators {
  display: flex;  
  gap: 50px;
  justify-content: center;
  margin: 20px;
}

.start-game button {
  padding: 15px 40px 15px 40px;
  border-radius: 15px;
  background-color: rgb(123, 189, 158);
  border: 1.5px solid white;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 14px;
  box-shadow: 7px 7px;
}

#new-game button {
  padding: 15px 40px 15px 40px;
  border-radius: 15px;
  background-color: rgba(244, 90, 55, 0.632);
  border: 1.5px solid white;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 14px;
  box-shadow: 7px 7px;
}

.box {
  display: flex;
  justify-content: left;
  align-items: center;
  box-shadow: 7px 7px;
}

.box 
.background-change {
  font-size: 20px;
  justify-content: center;
  color: red;
}

.to-play {
  display: flex;
  justify-content: center;

}

.players {
  margin-top: 20px;
  margin-right: 80px;
  display: grid;
}

.players button {
  justify-content: center;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 15px;
  background-color: lightyellow;
  border: none;
}

